
*{
    margin: 0;
    padding: 0;
}
.navbar-containter{
    background: linear-gradient(30deg, rgba(2,0,36,1) 0%, rgba(40,0,77,1) 35%, rgba(187,38,77,1) 100%);
    padding: 10px;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 100;
}

.navbar-item-container{
    color: rgb(255, 255, 255);
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    padding: 10px;
    width: 10%;
    border-radius: 10px;
}

.navbar-item-container:hover{
    background-color: rgb(240 248 255 / 25%);
}
.navbar-item-container-selected{
    background-color: rgb(240 248 255 / 25%);
    color: rgb(255, 255, 255);
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    padding: 10px;
    width: 10%;
    border-radius: 10px;
}

.navbar-dropdown{
    background: none !important;
    border: none;
}

.navbar-dropdown:focus{
    background: none !important;
    border: none;
    box-shadow: none;
}