.card{
    margin: 15px;
    border-radius: 15px;

}
.NavbarDinesh{
    top: 0;
    z-index: 1;
    position: sticky;
    
    display: flex;
    background-color:#f8f7f3;
    padding: 3% 4%  2% 4%;
    font-weight: 700;
    font-size: larger;
    justify-content: space-between;
    display: flex;
    width: 100%;
}
.NavbarDinesh>a{
    color: #888888;
    text-decoration: none;
}

#likeComment{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 15px;
    padding: 10px 20px;
    color: black;
    border-top: 1px solid #ccc;
}

#likeComment>div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

#likeComment i{
    font-size: 20px;
    color: black;
}

