* {
  margin: 0;
  padding: 0;
}

body {
}

.purple-btn {
  background-color: #28004d !important;
  border: #28004d !important;
  width: 30%;
}

.purple-btn:focus {
  background-color: #28004d !important;
  border: #28004d !important;
  box-shadow: #4a018d5d 0px 0px 0px 0.2rem;
}

.social_media {
  font-family: "Dancing Script", cursive;
  position: absolute;
  color: #fff;
  text-align: center;
  line-height: 1;
  font-size: 50px;
}

.social_media_text {
  font-family: "Dancing Script", cursive;
  color: #fff;
  margin: 0 !important;
  font-size: 35px;
}

.auth-col-one {
  border: 1px solid rgb(204, 204, 204);
  height: 100%;
  width: 100%;
  border-radius: 10px 0px 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.auth-col-two {
  border: 1px solid rgb(204, 204, 204);
  height: 100%;
  width: 100%;
  border-radius: 0px 10px 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.login-form-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.forgot-password-text {
  font-size: 12px;
  color: rgb(22, 121, 171);
  font-weight: 400;
  margin: 3px;
  cursor: pointer;
}


.home-container{
display: flex;
justify-content: center;
}

::-webkit-scrollbar{
  /* border: 1px solid red; */
  width:0px;

}

::-webkit-scrollbar-thumb{
  background-color: #ccc;
}

.pointer {
  cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  box-shadow: none !important;
  border-color: #ccc !important;
}